
<nav class="nav-area ">
  <ul>
    <li> <img src="assets/images/logo.jpg" alt="little-logo" title="little-Logo" style="height: 50px;margin-left: 54px;">
    </li>
    <li><a [routerLink]="['/home']">Home</a></li>
    <!--<li><a href="/Service">Search Student</a></li>-->

    <li class="drop-down"><a>Report</a>
      <ul >
        <li class="dropdown1" ><a [routerLink]="['/student-report']">Student Report</a></li>
        <li class="dropdown2" ><a [routerLink]="['/teacher-report']">Teacher Report</a></li>
      </ul>
    </li>

    <!--<li><a href="/Gallery">Today Slot</a></li>-->
    <li><a [routerLink]="['/student-master']">Student Master</a></li>

    <li><a [routerLink]="['/logout']">Log Out</a></li>

  </ul>

</nav>
  <!--<div class="w-100">-->
    <!--</div>-->

<router-outlet></router-outlet>


