@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #6F47B5 !important;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 14px 7px 4px rgba(0, 0, 0, 0.2);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #6F47B5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 2px;
  background: #6F47B5;
}

#sidebar ul.components {
  padding: 20px 0;
  //border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  font-size: 17px;
  font-weight: 700;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background:  #6F47B5;
  font-size: 17px;
  font-weight: 700;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  //background: #6d7fcc;
  background: #8704ca;;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.5s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}




//.example-container {
//  width: 100%;
//  height:  100%;
//  margin: 12px;
//  //border: 1px solid #555;
//  //height: 100%;
//  //  width: 100px;
//    position: fixed;
//    z-index: 1;
//    top: 0;
//    left: 0;
//    //background-color: #111;
//    overflow-x: hidden;
//    transition: 0.5s;
//    //padding-top: 60px;
//}
//
//mat-drawer-content {
//  padding: 12px;
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//}
//.sideBar{
//  width: 250px;
//  height: 100vh;
//  background:#6F47B5
//}
//
//
//.sideBar a {
//  padding: 8px 8px 8px 0px;
//  text-decoration: none;
//  font-size: 22px;
//  font-weight: 700;
//  color: #818181;
//  display: block;
//  transition: 0.3s;
//  color: black !important;
//}
//
//.sidenav a:hover {
//  color: #f1f1f1;
//}
//
//.footer{
//  background-color: #6F47B5;
//  margin-top: 0px;
//  height: 65px;
//  width: 100%;
//  color: white;
//}
//.footertext{
//  position: absolute;
//  margin-top: 0px;
//  margin-left: 0px;
//  color: white;
//  font-size: 25px;
//  font-weight: 700;
//
//}
//.drop{
//  margin-left: -40px;
//}

