
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" class="sidenav">

    <div class="sidebar-header">
      <img src="assets/images/logo.jpg" alt="artists-logo" title="Artists-Logo" style=" height: 100px; width: 243px; margin-bottom: 52px;margin-left: 1px;">
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a [routerLink]="['/home']">Home</a>
      </li>

      <li >
        <a href="#reportmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Report</a>
        <ul class="collapse list-unstyled" id="reportmenu">
          <li>
            <a [routerLink]="['/teacher-report']">Teacher Report</a>
          </li>
          <li>
            <a [routerLink]="['/student-report']">Student Report</a>
          </li>
          <li>
            <a [routerLink]="['/teacher-report']">Monthly Report</a>
          </li>
          <li>
            <a [routerLink]="['/teacher-report']">Login Report</a>
          </li>
        </ul>
      </li>

      <li>
        <a [routerLink]="['/project-setup']">Project Setup</a>
      </li>

      <li>
        <a href="#adminmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin Profile</a>
        <ul class="collapse list-unstyled" id="adminmenu">
          <li>
            <a [routerLink]="['/teacher-report']">Password Create</a>
          </li>
          <li>
            <a [routerLink]="['/teacher-report']">Upload Student Data</a>
          </li>

        </ul>
      </li>

      <li>
        <a href="#teacherMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Teacher Login</a>
        <ul class="collapse list-unstyled" id="teacherMenu">
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/student-report']">Student Report</a>
          </li>
          <li>
            <a [routerLink]="['/teacher-report']">Search Student</a>
          </li>
          <li>
            <a [routerLink]="['/teacher-report']">Today Slot</a>
          </li>
          <li>
            <a [routerLink]="['/teacher-report']">Teacher Profile(Logout)</a>
          </li>
        </ul>
      </li>


    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  >
          <i class="fas fa-align-left"></i>
          <!--<span>Toggle Sidebar</span>-->
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a  style="color: white" class="nav-link " href="#">Logout</a>
            </li>
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" href="#">Page</a>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
</script>











<!--<mat-drawer-container class="example-container" >-->
  <!--<mat-drawer #drawer >I-->
<!--<div class="sidenav">-->
  <!--<a [routerLink]="'/accounts'">About</a>-->
  <!--<a [routerLink]="'/accounts'">Services</a>-->
  <!--<a  [routerLink]="'/accounts'">Clients</a>-->
  <!--<a  [routerLink]="'/accounts'">Contact</a>-->
<!--</div>-->
  <!--</mat-drawer>-->
  <!--<mat-drawer-content>-->
    <!--<button mat-icon-button><mat-icon (click)="drawer.toggle()">menu</mat-icon></button>-->
    <!--<div >-->
   <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->


<!--<mat-drawer-container class="example-container">-->
  <!--<mat-drawer #drawer  class="sideBar">-->
    <!--<div >-->
      <!--<ol style="list-style-type: none !important;text-decoration: none;font-size: 15px" >-->
        <!--<li> <img src="assets/images/logo.jpg" alt="artists-logo" title="Artists-Logo" style="height: 100px;width: 249px;margin-bottom: 52px; margin-left: -40px;margin-top: 11px;">-->
        <!--</li>-->
        <!--<mat-expansion-panel class="drop">-->
          <!--&lt;!&ndash;<mat-expansion-panel-header>&ndash;&gt;-->

           <!--<li><a [routerLink]="['/home']">Home</a> </li>-->
            <!--&lt;!&ndash;<mat-panel-title><strong><a [routerLink]="['/home']">Home</a></strong> </mat-panel-title>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-expansion-panel-header>&ndash;&gt;-->
        <!--</mat-expansion-panel>-->

        <!--<mat-expansion-panel class="drop">-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title><strong>Report </strong> </mat-panel-title>-->
          <!--</mat-expansion-panel-header>-->
          <!--<li><a [routerLink]="['/teacher-report']">Teacher Report</a></li>-->
          <!--<li><a [routerLink]="['/student-report']">Student Report</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Monthly Report</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Login Report</a></li>-->
        <!--</mat-expansion-panel>-->
        <!--<mat-expansion-panel class="drop">-->
          <!--<li><a [routerLink]="['/project-setup']">Project Setup</a></li></mat-expansion-panel>-->

        <!--<mat-expansion-panel class="drop">-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title><strong>Admin Profile </strong> </mat-panel-title>-->
          <!--</mat-expansion-panel-header>-->
          <!--<li><a [routerLink]="['/teacher-report']">Password Create</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Upload Student Data</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Logout</a></li>-->
        <!--</mat-expansion-panel>-->

        <!--<mat-expansion-panel class="drop">-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title><strong>Teacher Login </strong> </mat-panel-title>-->
          <!--</mat-expansion-panel-header>-->
          <!--<li><a [routerLink]="['/home']">Home</a></li>-->
          <!--<li><a [routerLink]="['/student-report']">Student Report</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Search Student</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Student Master</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Today Slot</a></li>-->
          <!--<li><a [routerLink]="['/teacher-report']">Teacher Profile(Logout)</a></li>-->
        <!--</mat-expansion-panel>-->

        <!--&lt;!&ndash;<li><a [routerLink]="['/report-upload']">REPORT UPLOAD</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/project-setup']">PROJECT SETUP</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/project-report']">PROJECT REPORT</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/student-report']">STUDENT REPORT</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/teacher-report']">TEACHER REPORT</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/report']">REPORT</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard" (click)="expandCollpse('dashboard')">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pull-left"><i class="ti-home"></i><span class="right-nav-text">Dashboard</span></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;<ul  style="list-style-type: none !important;" id="dashboard" class="collapse"  >&ndash;&gt;-->
            <!--&lt;!&ndash;<li> <a class="active" routerLink="/" routerLinkActive="active">Dashboard 01</a> </li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li> <a routerLink="/dashboard02" routerLinkActive="active">Dashboard 02</a> </li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li> <a routerLink="/dashboard03" routerLinkActive="active">Dashboard 03</a> </li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li> <a routerLink="/dashboard04" routerLinkActive="active">Dashboard 04</a> </li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li> <a routerLink="/dashboard05" routerLinkActive="active">Dashboard 05</a> </li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->

      <!--</ol>-->
    <!--</div>-->
  <!--</mat-drawer>-->
  <!--<mat-drawer-content>-->
    <!--<section class="footer">-->
      <!--<button mat-icon-button><mat-icon (click)="drawer.toggle()">menu</mat-icon></button>-->
        <!--<h3 class="footertext"> Little Artists</h3>-->
    <!--</section>-->
    <!--<div class="outerBar"  >-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->



  <!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->
