<nav class="nav-area">
  <ul>
    <li> <img src="assets/images/logo.jpg" alt="artists-logo" title="Artists-Logo" style="    height: 53px;
    width: 83px;
    margin-left: 43px;">
    </li>
    <li><a href="/Home">HOME</a></li>
    <li><a href="/Service">REPORT UPLOAD</a></li>
    <li><a href="/Gallery">PROJECT SETUP</a></li>
    <li><a href="/About">PROJECT REPORT</a></li>
    <li><a href="/Contact">STUDENT REPORT</a></li>
    <li><a href="/Contact">TEACHER REPORT</a></li>
    <li><a href="/Contact">REPORT</a></li>

  </ul>
</nav>
