<!--<section>-->
  <!--<h1>Report Upload</h1>-->
<!--<div class="col-md-6" >-->
  <!--<mat-placeholder>Select Student<span class="error">*</span></mat-placeholder>-->
  <!--&lt;!&ndash;<ngx-select-dropdown  formControlName="studentName"  [config]="config" [options]="studentLists" required ></ngx-select-dropdown>&ndash;&gt;-->
  <!--<ngx-select-dropdown  formControlName="studentName"  [config]="config"  [options]="studentLists" required ></ngx-select-dropdown>-->
<!--</div>-->

  <!--<div class="col-md-3">-->
    <!--<div class="text-left w-100">-->
      <!--<div class="custom-file">-->
        <!--<input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg, .pdf" (change)="uploadProof($event)"   aria-describedby="inputGroupFileAddon01" >-->
        <!--<label class="custom-file-label" >Choose</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div *ngIf="uploadData!=undefined && uploadData!=''">-->
      <!--<i class=" fa fa-times icon-absolute"  style="margin-left:100px"  (click)="removeImage()"></i>-->
    <!--</div>-->
    <!--<div class="column">-->
      <!--<figure class="image is-128x128">-->
        <!--<img [src]="imageUrl" />-->
      <!--</figure>-->
    <!--</div>-->
    <!--<p class="mt-2" style="color: green;">{{uploadData}}</p>-->
  <!--</div>-->
<!--</section>-->


<!--<div class="row mt-3">-->
  <!--<div class="col-md-12 box-card pt-3 pb-3" >-->

      <!--<div class="row">-->



        <!--<div class="col-md-9">-->
          <!--<input matInput placeholder="Photograph" readonly>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
          <!--<div class="text-left w-100">-->
            <!--<div class="custom-file">-->
              <!--<input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg, .pdf"  (change)="uploadProof($event)"    aria-describedby="inputGroupFileAddon01" >-->
              <!--<label class="custom-file-label" >Choose</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div >-->
            <!--<i class=" fa fa-times icon-absolute"  style="margin-left:100px"  (click)="removeImage()"></i>-->
          <!--</div>-->
          <!--<p class="mt-2" style="color: green;">{{uploadData}}</p>-->
        <!--</div>-->




  <!--</div>-->
<!--</div>-->
<!--</div>-->

