
thead{
  color: white ;
}
tbody{
  color:  #f3bb73 ;
}
.container{
  width: 100%;
}

///mobile view
@media only screen
and (min-width: 360px) and (max-width: 768px)  {
  .container{
    width: 100%;
    margin-left: 0px;
  }
  .header{
    width: 131%;

  }
  hr{
    width: 125%;
  }
  .body{
    width: 100%;
    margin-left: -13px;
    font-size: 7.2px;
  }

}


@media (min-device-width: 800px)
and (max-device-width: 1280px)   {
  .container{
    width: 100%;
  }
  .header{
    width: 100%;

  }
  hr{
    width: 100%;
  }
  .body{
    width: 100%;
    margin-left: 0px;
    font-size: 8px;

  }

}



///ipad...

@media only screen
and (min-width: 768px) and (max-width: 1024px){
  .container{
    width: 100%;
    margin-left: 20px;
  }
  .header{
    width: 100%;

  }
  hr{
    width: 100%;
  }
  .body{
    width: 100%;
    margin-left: 0px;
    font-size: 10px;

  }
  /* For general iPad layouts */
  //#contact-head{
  //  width: 100%;
  //}
  //.contBox{
  //  width: 100%;
  //  margin-left: -54px;
  //}
  //.fonts{
  //  margin-left: -109px;
  //}

}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){
  .container{
    width: 100%;
    margin-left: 30px;
  }
  .header{
    width: 100%;

  }
  hr{
    width: 100%;
  }
  .body{
    width: 100%;
    margin-left: 0px;
    font-size: 20px;

  }
}

/* Portrait */
@media only screen
and (min-width: 1025px) and (max-width: 1366px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .container{
    width: 100%;
  }
  .header{
    width: 100%;

  }
  hr{
    width: 100%;
  }
  .body{
    width: 100%;
    margin-left: 0px;
    font-size: 8px;

  }
}

/* Landscape */
@media only screen
and (min-width: 1026px) and (max-width: 1366px)
and (max-height: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  .container{
    width: 100%;
  }
  .header{
    width: 100%;

  }
  hr{
    width: 100%;
  }
  .body{
    width: 100%;
    margin-left: 0px;
    font-size: 10px;

  }

}
//
//@media (min-width: 1367px) {
//  .nav-side-menu .menu-list .menu-content {
//    display: block;
//  }
//}


//body {
//  margin: 0px;
//  padding: 0px;
//}
