.imageBox{
  height: 150px;
  width: 150px;
  margin-left: 50px;
}
.cancelPoint{
  cursor: pointer;
  margin-left: 197px;
}
.contBox {
  background: rgba(0,0,0,0) url("/assets/images/in.jpg") no-repeat scroll 0 0/cover;
  width: 940px;
  border: 2px;
  padding: 10px;
  margin: 10px;
  height: 100vh;
  margin-top: 45px;
  margin-left: 58px;
  box-shadow: 0 0 20px 1px #5c6979;
  cursor: pointer;
  border-radius: 8px;
}
.fonts{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-top: 31px;
  color: #ec26a6;
}


////mobile view
//@media (max-width: 600px) {
//  #contact-head{
//    width: 100%;
//  }
//  .contBox{
//    width: 100%;
//    margin-left: -24px;
//  }
//  .fonts{
//    margin-left: -50px;
//  }
//
//}

///mobile view
@media only screen
and (min-width: 360px) and (max-width: 768px)  {
  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: 0px;
  }
  .fonts{
    text-align: center;
    margin-left: 0px;
    font-size: 29px;
  }

}


@media (min-device-width: 800px)
and (max-device-width: 1280px)   {
  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: -29px;
  }
  .fonts{
    text-align: center;
    margin-left: -50px;
    font-size: 29px;
  }

}



///ipad...

@media only screen
and (min-width: 768px) and (max-width: 1024px){
  /* For general iPad layouts */
  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: 25px;
  }
  .fonts{
    margin-left: 25px;
  }

}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){

  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: 30px;
  }
  .fonts{
    margin-left: 40px;
  }

}

/* Portrait */
@media only screen
and (min-width: 1025px) and (max-width: 1366px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: -54px;
  }
  .fonts{
    margin-left: -50px;
  }

}

/* Landscape  ipad */

@media only screen
and (min-width: 768px) and (max-width: 1024px)
and (max-height: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: 105px;
  }
  .fonts{
    margin-left: 155px;
  }


}

/* Landscape ipad pro */
@media only screen
and (min-width: 1024px) and (max-width: 1366px)
and (max-height: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  #contact-head{
    width: 100%;
  }
  .contBox{
    width: 100%;
    margin-left: 38px;
  }
  .fonts{
    margin-left: 155px;
  }


}
//
//@media (min-width: 1367px) {
//  .nav-side-menu .menu-list .menu-content {
//    display: block;
//  }
//}
body {
  margin: 0px;
  padding: 0px;
}
