.imageBox{
  height: 150px;
  width: 150px;
  margin-left: 50px;
}
.cancelPoint{
  cursor: pointer;
  margin-left: 197px;
}
.contBox {
  width: 1000px;
  border: 2px;
  padding: 10px;
  margin: 10px;
  height: 100vh;
  margin-top: 45px;
  margin-left: 150px;
  box-shadow: 0 0 20px 1px #5c6979;
  cursor: pointer;
  border-radius: 8px;
}
