
<!--<section class = "image-bg-section bg-img">-->
  <!--<div class = "reveal-heading-container">-->
    <!--<h1>STUDENT ART MANAGEMENT SYSTEM</h1>-->

    <!--</div>-->
  <!--<div class="row mt-20 animated zoomIn" style="animation-delay: 5s; font-size:16px;">-->
    <!--<div class="col-md-12 " >-->
      <!--<p >This is an on-line digital system and can be used to capture the images of Student Artwork done as part of their course work at Little Artists</p>-->
      <!--<p>The captured images are archived directly in the digital archival system - It is a php / file atabase storage and retrieval system..</p>-->
     <!--<p>You can use php / file database storage and retrieval system to perform action on the images capture</p>-->
  <!--</div>-->
  <!--</div>-->
<!--</section>-->

<section class = "image-bg-section bg-img">
  <div class = "reveal-heading-container">
    <div class="row">
      <div class="col-md-12 col-12 col-sm-12">
        <h1>STUDENT ART MANAGEMENT SYSTEM</h1>
      </div>
    </div>
  </div>
  <div class="row mt-20 ">
    <div class="col-md-12 col-12 col-sm-12 " style="margin-top: 166px;">
      <mat-card class="sec-card" style="background: #ffffff85; !important">
        <p class=" animated zoomIn mobile-view"  >This is an on-line digital system and can be used to capture the images of Student Artwork done as part of their course work at Little Artists</p>
        <p class = "animated zoomIn mobile-view" >The captured images are archived directly in the digital archival system - It is a php / file atabase storage and retrieval system..</p>
        <p class = "animated zoomIn mobile-view" >You can use php / file database storage and retrieval system to perform action on the images capture</p>
      </mat-card>
    </div>
  </div>
</section>




